{% extends 'base.html.twig' %}

{% block title %}
    HomePage - Connect
{% endblock %}

{% block body %}
    <h1>Connecte toi</h1>
    <p><a href="{{ path('connect_google') }}">Google</a></p>
{% endblock %}
